[phases.setup]
nixPkgs = ["python312", "pip"]

[phases.install]
cmds = [
  "python -m pip install --upgrade pip",
  "python -m pip install -r requirements.txt"
]

[start]
cmd = "streamlit run streamlit_app.py --server.port=$PORT --server.address=0.0.0.0"

