[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = [
  "pip install --upgrade pip",
  "pip install -r requirements_streamlit.txt"
]

[start]
cmd = "streamlit run streamlit_app.py --server.port=$PORT --server.address=0.0.0.0"

